---
const props = Astro.props;

const index = props.index;
const title = props.title;
const year = props.year;
const href = props.href;
const description = props.description;
const image = props.image;
---

<article class="project">
    {
        image && (
            <a href={href}>
                <img src={image} alt={title} class="project-image" />
            </a>
        )
    }

    <h3>
        <a href={href}>{index} / {title}</a>
    </h3>
    <p class="year">{year}</p>
    <p class="description">{description}</p>
</article>
