---
import { Image } from "astro:assets";

const props = Astro.props;

const index = props.index;
const title = props.title;
const year = props.year;
const href = props.href;
const description = props.description;
const image = props.image;
---

<article class="project">
    {
        image && (
            <a href={href}>
                <Image
                    src={image}
                    alt={title}
                    class="project-image"
                    width={800}
                    height={800}
                    widths={[256, 512, 768, 1024]}
                    sizes="(min-width: 1024px) 512px, (min-width: 768px) 50vw, 90vw"
                    format="avif"
                />
            </a>
        )
    }

    <h3>
        <a href={href}>{index} / {title}</a>
    </h3>
    <p class="year">{year}</p>
    <p class="description">{description}</p>
</article>
